<div class="ui teal borderless main menu" style="margin-top: 0px">
    {{!-- Left Side --}}
    {{!-- Title --}}
    <a class="item" href="/">
        <h1 class="ui teal header">Sequoia</h1>
    </a>

    {{!-- Right Side Buttons --}}
    <div class="right menu">
        <a class="item" href="">
            <i class="grey large power off icon"></i>
            Logout
        </a>
    </div>
</div>