{{!-- Sequoia Copyright (C) 2020  Zan Naeem, Abdulrahman Alfayad
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div class="pusher">
    <div id="main-menu" class="ui sticky teal borderless menu" style="margin-top: 0px">
        <a class="item" href="/sequoia">
            <h1 class="ui teal header">Sequoia</h1>
        </a>
        <div class="right menu">
            <a id="Calculus_icon" class="item" href="">
                <i class="grey large table icon"></i>Rules
            </a>
            <a id="Prooftree_icon" class="item" href="">
                <i class="grey large tree icon"></i>Proof Tree
            </a>
            <a id="Properties_icon" class="item" href="">
                <i class="grey large align center icon"></i>Properties
            </a>
            <a id="Home_icon" class="item" href="/sequoia/home">
                <i class="grey large home icon"></i>Calculi
            </a>
            <a class="item" href="/sequoia/logout">
                <i class="grey large power off icon"></i>Logout
            </a>
        </div>
    </div>
</div>
