<div class="ui teal borderless main menu" style="margin-top: 0px">
    {{!-- Left Side --}}
    {{!-- Title --}}
    <a class="item" href="/">
        <h1 class="ui teal header">Sequia</h1>
    </a>
    
    {{!-- Right Side Buttons --}}
    <div class="right menu">
        <a class="item" href="">
            <i class="grey align center icon"></i>
            Calculus
        </a>
        <a class="item" href="">
            <i class="grey user icon"></i>
            Sign In
        </a>
    </div>
</div>