
<div class="pusher">
    <div id="main-menu" class="ui sticky teal borderless menu" style="margin-top: 0px">
        <a class="item" href="/">
            <h1 class="ui teal header">Sequoia</h1>
        </a>
        <div class="right menu">
            <a id="Calculus_icon" class="item" href="">
                <i class="grey large align center icon"></i>Calculus
            </a>
            <a id="Prooftree_icon" class="item" href="">
                <i class="grey large tree center icon"></i>Proof Tree
            </a>
            <a id="Properties_icon" class="item" href="">
                <i class="grey large pencil alternate icon"></i>Properties
            </a>
            <a class="item" href="/logout">
                <i class="grey large power off icon"></i>Logout
            </a>
        </div>
    </div>
</div>