{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details type `show w'.
This is free software, and you are welcome to redistribute it
under certain conditions; type `show c' for details. --}}


<div id="section" class="ui middle aligned center aligned teal huge header"> Page still under construction.</div>
<div class="ui middle aligned center aligned container">
    <br><br><br><br><br><br>
	<i class="grey centered massive cogs icon"></i>
    <br><br><br><br><br><br><br><br>
    <a class="ui teal large button" href="#" onclick="javascript:window.history.back(-1);return false;">
        <i class="reply icon"></i>Back
    </a>
</div>
