<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/bower/semantic/dist/semantic.min.css">
    <style> td {
                text-align:center;
                height: 1em;
                vertical-align:bottom;
            }
            td.conc {
                border-top: solid 1px;
            }
            div.rulename {
                margin-top:-2em;
            }
            td.prem {}
            .MJXc-display, .MathJax_Display {
                margin:0px !important;
            }
            </style>
  </head>
  <body>
    {{> navbar}}
  {{{body}}}
    <script type="text/javascript" src="/bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower/pegjs/peg-0.10.0.min.js"></script>
  <script type="text/javascript" src="/bower/semantic/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/prooftree.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/applyRule.js"></script>
  {{!-- <script type="text/javascript" src="/static/javascripts/apply/tablesort.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/table.js"></script> --}}
  <script type="text/javascript" src="/static/javascripts/parser_text.js"></script>
  <script type="text/javascript" src="/static/javascripts/rule/symbols_table.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/initSequent.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/rule_sidebar.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/preview.js"></script>
  <script type="text/javascript" src="static/javascripts/rule/fixRules.js"></script>
  <script type="text/javascript" src="static/javascripts/apply/setupItems.js"></script>
  </body>
</html>