<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/bower/semantic/dist/semantic.min.css">
  </head>
  <div id = "style">
    <style> 
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
      }

      *{
        box-sizing: border-box;
      }
      
      div.tree{
        /*background-color: rgba(0,233,0,0.2);*/
        display: inline-flex;
        align-items: flex-end;
        padding: 0px 12px;
        font-size: 22px;
      }

      div.rule {
        padding-left: 2px;
        padding-bottom: 20px;
        /*background-color: #377;*/
        font-size: 22px;
      }

      div.rule > .MathJax_Display{
        margin: 0;
      }

      div.sequence{
        display: inline-block;
        /*border: 2px solid #fff;*/
      }

      div.premises{
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        /*background-color: #a0a;*/
        text-align: center;
      }

      div.conclusion{
        border-top: 1px solid #111;
        /*background-color: #aa1;*/
        text-align: center;
      }

      div.conclusion > .MathJax_Display{
        margin:0;
      }

      div.leaf{
        /*background-color: #aa1;*/
        text-align: center;
        padding: 0px 21px;
      }

      div.leaf > .MathJax_Display{
        margin:0;
      }

      div.item > .MathJax_Display{
        margin:0;
      }
    </style>
  </div>
  <body>
    {{> navbar}}
  {{{body}}}
  {{!-- <script type="text/javascript" id="MathJax" async src="/bower/MathJax/es5/tex-chtml.js"></script> --}}
  <script type="text/javascript" src="/bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower/pegjs/peg-0.10.0.min.js"></script>
  <script type="text/javascript" src="/bower/semantic/dist/semantic.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/prooftree.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/applyRule.js"></script>
  <script type="text/javascript" src="/static/javascripts/parser_text.js"></script>
  <script type="text/javascript" src="/static/javascripts/symbols_table.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/initSequent.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/updateParser.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/rule_sidebar.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/preview.js"></script>
  <script type="text/javascript" src="/static/javascripts/rule/fixRules.js"></script>
  <script type="text/javascript" src="/static/javascripts/apply/setupItems.js"></script>
  </body>
</html>