<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../bower/semantic/dist/semantic.min.css">
  </head>
  <body>
  	{{> navbar}}
	{{{body}}}
  	<script type="text/javascript" src="../bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="../bower/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower/pegjs/peg-0.10.0.min.js"></script>
	<script type="text/javascript" src="../bower/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/tablesort.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/addPremise.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/updateRule.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/table.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/preview.js"></script>
	<script type="text/javascript" src="../static/javascripts/rule/getRule.js"></script>
  </body>
</html>