<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/sequoia/bower/semantic/dist/semantic.min.css">
  </head>
  <div id = "style">
    <style> 
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
      }

      .masthead {
        background-color: rgb(71, 195, 195) !important;
      }

      .masthead.segment {
        min-height: 400px;
        padding: 1em 0em;
      }

      .masthead .logo.item img {
        margin-right: 1em;
      }

      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }

      .masthead h1.ui.header {
        margin-top: 1em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }

      .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
      }

      .ui.vertical.stripe {
        padding: 8em 0em;
      }

      .ui.vertical.stripe h3 {
        font-size: 2em;
      }
      
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 3em;
      }

      .ui.vertical.stripe .floated.image {
        clear: both;
      }

      .ui.vertical.stripe p {
        font-size: 1.33em;
      }

      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }


      .footer.segment {
        padding: 5em 0em;
      }

      .secondary.pointing.menu .toc.item {
        display: none;
      }
    </style>
  </div>
  <body>
  {{> main_navbar}}
  {{{body}}}
    <script type="text/javascript" src="/sequoia/bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="/sequoia/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/sequoia/bower/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/sequoia/bower/async/dist/async.min.js"></script>
    <script type="text/javascript" src="/sequoia/static/javascripts/login/setupItems.js"></script>
  </body>
</html>
