{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/sequoia/bower/semantic/dist/semantic.min.css">
  </head>
  <div id = "style">
    <style> 
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
      }
    </style>
  </div>
  <body>
  {{> log_navbar}}
  {{{body}}}
    <script type="text/javascript" src="/sequoia/bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript" src="/sequoia/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/sequoia/bower/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/sequoia/bower/async/dist/async.min.js"></script>
    <script type="text/javascript" src="/sequoia/static/javascripts/login/addUser.js"></script>
    <script type="text/javascript" src="/sequoia/static/javascripts/login/setupItems.js"></script>
    <script type="text/javascript" src="/sequoia/static/javascripts/escape_text.js"></script>
  </body>
</html>
