<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="bower/semantic/dist/semantic.min.css">
  </head>
  <div id = "style">
    <style> 
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
      }
    </style>
  </div>
  <body>
  	{{> main_navbar}}
	  {{{body}}}
    {{!-- <script type="text/javascript" id="MathJax" async src="bower/MathJax/es5/tex-chtml.js"></script> --}}
  	<script type="text/javascript" src="bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  	<script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower/semantic/dist/semantic.min.js"></script>
  	<script type="text/javascript" src="bower/async/dist/async.min.js"></script>
    <script type="text/javascript" src="static/javascripts/calculus/get_set_calcs.js"></script>
    <script type="text/javascript" src="static/javascripts/calculus/sample_calculi.js"></script>
    <script type="text/javascript" src="static/javascripts/calculus/setupItems.js"></script>  
  </body>
</html>
