<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="bower/semantic/dist/semantic.min.css">
  </head>
  <body>
  	{{> navbar}}
	{{{body}}}
  	<script type="text/javascript" src="bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower/semantic/dist/semantic.min.js"></script>
	<script type="text/javascript" src="static/javascripts/rule/tablesort.js"></script>
	<script type="text/javascript" src="static/javascripts/rule/addPremise.js"></script>
	<script type="text/javascript" src="static/javascripts/test/table.js"></script>
	<script type="text/javascript" src="static/javascripts/rule/preview.js"></script>
	<script type="text/javascript" src="static/javascripts/apply/parser.js"></script>
	<script type="text/javascript" src="static/javascripts/test/test.js"></script>
  </body>
</html>