<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/bower/semantic/dist/semantic.min.css">
  </head>
  <body>
    {{> navbar}}
  {{{body}}}
  <script src="bower/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <script src="bower/semantic/dist/semantic.min.js"></script>
    <script src="static/javascripts/linear-logic/rule_preview.js"></script>
    <script src="static/javascripts/linear-logic/rules.js"></script>
    <script src="static/javascripts/linear-logic/translate.js"></script>
    <script src="static/javascripts/linear-logic/table.js"></script>
    <script src="static/javascripts/linear-logic/parse.js"></script>
    <script src="static/javascripts/linear-logic/all-rules.js"></script>

  </script>
  </body>
</html>