<div class="ui container">

	
	{{!-- Cards --}}
	<div class="ui grid cards" id="rules">

		<div class="card">
			<div class="image">
		     <p> $$\frac{A}{A \vee B} \vee$$ </p>
		    </div>
		    <div class="content">
		      <div class="header">G3K</div>
		      <div class="description">
				base labelled system for many modal logics
		      </div>
		    </div>
		</div>

		<div class="card">
			<div class="image">
		     <p> $$\frac{A \wedge B}{A} \wedge$$ </p>
		    </div>
		    <div class="content">
		      <div class="header">mLJ</div>
		      <div class="description">
				multi-conclusion intuitionistic logic
		      </div>
		    </div>
		</div>

	</div>
	<br>
	{{!-- End of Cards --}}
	<a class="circular ui icon button green" href="">
		<i class="icon add"></i>
	</a>
</div>

