{{!-- Grid --}}
<div class="ui middle aligned center aligned grid" style="margin-top: 35px">
	{{!-- Container --}}
	<div class="ui container">
		{{!-- Rule Input --}}
		<div class="row">
			<div class="ui input">
				<input id="title" type="text" placeholder="Title">
			</div>
		</div>
		
		<br>
		
		<div class="row">
			<div class="ui fluid input">
				<input id="description" type="text" placeholder="Description">
			</div>
		</div>

		<br>

		{{!-- Add Button --}}
		<a class="ui button primary" onclick="addCalculus()" >
			Add
		</a>

		<br><br>

		{{!-- Cards --}}
		<div class="ui grid cards" id="calculi">
		</div>
		<br>
		

	</div>
</div>