<div class="ui container">

	
	{{!-- Cards --}}
	<div class="ui grid cards" id="calculuses">
	
	
	</div>
	<br>
	{{!-- End of Cards --}}
	<a class="circular ui icon button green" href="/add-calculus">
		<i class="icon add"></i>
	</a>
</div>

