<div id="section" class="ui middle aligned center aligned teal huge header">Login</div>

{{!-- Container --}}

<div class="ui container">

    <form action="/login" method="POST">

        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Username:</div>
                <input id="username" type="username" name="username" placeholder="">
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Password:</div>
                <input id="password" type="password" name="password" placeholder="">
            </div>
        </div>

        <br>

        <button class="ui large teal button" type="submit">
            <i class="terminal icon"></i>
            login
        </button>

    </form>

    <br>

    <div id="warning">
        <div id="init warning" class="ui negative message">
            <div class="header">Incorrect Username or Password</div>
        </div>
    </div>

    <div class="ui divider"></div>

    New to Sequoia? You can register <a href="/register">here</a>!

</div>