<div id="section" class="ui middle aligned center aligned teal huge header">Welcome to Seqouia!
    <br><br>
    <p class="sub header">
        Sequoia is a sequent calculus construction tool that allows you to create your own calculi,
    build proof trees, and test general properties of your calculus systems.</p>
</div>

<br><br>

<div class="ui container">

    <form action="/login" method="POST">

        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Username:</div>
                <input id="username" type="username" name="username" placeholder="">
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Password:</div>
                <input id="password" type="password" name="password" placeholder="">
            </div>
        </div>

        <br>

        <button class="ui large teal button" type="submit">
            <i class="terminal icon"></i>
            Login
        </button>

    </form>

    <div class="ui divider"></div>

    New to Sequoia? You can sign up <a href="/register">here</a>!

</div>