{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="section" class="ui middle aligned center aligned teal huge header">Login</div>
<br>
<div class="ui container">
    <form action="/sequoia/login" method="POST">
        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Username:</div>
                <input id="username" type="username" name="username" placeholder="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="ui labeled input">
                <div class="ui label">Password:</div>
                <input id="password" type="password" name="password" placeholder="">
            </div>
        </div>
        <br>
        <button class="ui large teal button" type="submit">
            <i class="terminal icon"></i>Login
        </button>
    </form>
    <div id="warning" class="ui negative message" style="visibility: hidden;">
        <div id="warning_header" class="header">Incorrect username or password.</div>
    </div>
    <div class="ui divider"></div>
    New to Sequoia? You can sign up <a href="/sequoia/register">here</a>!
</div>

<div id="page" hidden>{{page}}</div>
