<div id="user_id" hidden>TEMP</div>
<div id="section" class="ui middle aligned center aligned teal huge header">Login</div>

{{!-- Container --}}

<div class="ui container">

    <div class="row">
        <div class="ui input">
            <input id="username" type="text" placeholder="Username">
        </div>
    </div>
    
    <br>
    
    <div class="row">
        <div class="ui input">
            <input id="password" type="text" placeholder="Password">
        </div>
    </div>

    <br>

    <a class="ui large teal button" onclick="">
        <i class="terminal icon"></i>
        login
    </a>

    <div class="ui divider"></div>

    New to Sequoia? You can register <a href="/register">here</a>!

</div>