<div id="section" class="ui middle aligned center aligned teal huge header">
  Welcome to Sequoia!
</div>
<br><br>
<div class="ui left aligned text container">
  <p>
  Sequoia is a sequent calculus construction tool where you can:
  <ul>
    <li> create, save, and manage your own calculi; </li>
    <li> build proof trees (concrete ones or schematic, i.e. using context
    variables); </li>
    <li> and test general properties for your calculus systems (such as
    identity expansion, weakening admissibility, and permutability of rules).</li>
  </ul>
  </p>

  <p><b>Current team members:</b>
  <ul>
    <li> <a href="https://www.gisellereis.com">Giselle Reis</a> </li>
    <li> Zan Naeem </li>
    <li> Mohammed Hashim </li>
  </ul>

  <b>Past team members:</b>
  <ul>
    <li> Abdulrahman Alfayad </li>
  </ul>
  </p>
</div>
<br><br>
<div class="ui center aligned container">
    <div class="ui placeholder segment">
        <div class="ui two column grid">
            <div class="middle aligned column">
                <a class="ui big blue button" href="/login">
                    <i class="check icon"></i>Login
                </a>
            </div>
            <div class="middle aligned column">
                <a class="ui big button" href="/register">
                    <i class="signup icon"></i>Sign Up
                </a>
            </div>
        </div>
        <div class="ui vertical divider">Or</div>
    </div>
</div>
<br><br>
<div class="ui center aligned footer container">
    <p> 
    This project is made possible by the generous support of the Qatar
    Foundation through Carnegie Mellon University in Qatar’s Seed Research
    program.<br> 
    The statements made herein are solely the responsibility of the author(s).
    </p> 
</div>

