

<div class="ui inverted vertical masthead center aligned segment" >
  <div class="ui text container">
    <h1 class="ui inverted header"> Welcome to Sequoia!</h1>
    <h2>SOME TEXT MAYBE YE.</h2>
    <br>
    <a class="ui huge primary button" href="/register">Get Started <i class="right arrow icon"></i></a>
  </div>
</div>
<br>
<div class="ui text container">
  <h1>Sequoia is a sequent calculus construction tool where you can:</h2>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="four wide column">
        <h3 class="ui header">HEADER HERE</h3>
        <p>create, save, and manage your own calculi</p>
      </div>
      <div class="ten wide right floated column">
        <img src="/static/javascripts/sample_images/gif1.gif">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="ten wide left floated column">
        <img src="/static/javascripts/sample_images/gif2.gif">
      </div>
      <div class="four wide column">
        <h3 class="ui header">HEADER HERE</h3>
        <p>build proof trees (concrete ones or schematic, i.e. using context variables)</p>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="four wide column">
        <h3 class="ui header">HEADER HERE</h3>
        <p>and test general properties for your calculus systems (such as
          identity expansion, weakening admissibility, and permutability of rules)</p>
      </div>
      <div class="ten wide right floated column">
        <img src="/static/javascripts/sample_images/gif3.gif">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical segment">
  <div class="ui middle aligned text container">
    <b>Current team members:</b>
    <ul>
      <li><a href="https://www.gisellereis.com">Giselle Reis</a></li>
      <li><a href="https://qa.linkedin.com/in/zan-naeem-3a4658171">Zan Naeem</a></li>
      <li><a href="https://www.linkedin.com/in/mohammed-hashim-5175981a2/">Mohammed Hashim</a></li>
    </ul>
    <b>Past team members:</b>
    <ul>
      <li><a href="https://github.com/AboudFayad">Abdulrahman Alfayad</a></li>
    </ul>
  </div>
</div>
<div class="ui teal inverted vertical footer segment">
  <div class="ui container">
    <p> This project is made possible by the generous support of the Qatar
    Foundation through Carnegie Mellon University in Qatar’s Seed Research
    program.<br> The statements made herein are solely the responsibility of the author(s).
    </p> 
  </div>
</div>