

<div class="ui inverted vertical masthead center aligned segment" >
  <div class="ui text container">
    <h1 class="ui inverted header"> Welcome to Sequoia!</h1>
    <h2>Design, play with, and analyze sequent calculus proof systems.</h2>
    <br>
    <a class="ui huge primary button" href="/register">Get Started <i class="right arrow icon"></i></a>
  </div>
</div>
<br>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned grid container">
    <div class="row">
      <div class="five wide column">
        <h3 class="ui header">DESIGN</h3>
        <p>Create, save, modify, and manage your own calculi.</p>
      </div>
      <div class="nine wide right floated column">
        <img src="/static/javascripts/sample_images/gif1.gif">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned grid container">
    <div class="row">
      <div class="nine wide left floated column">
        <img src="/static/javascripts/sample_images/gif2.gif">
      </div>
      <div class="five wide column">
        <h3 class="ui header">PLAY</h3>
        <p>Build proof trees in your calculus and understand how the rules
        interact. You can use concrete or schematic sequents.</p>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned grid container">
    <div class="row">
      <div class="five wide column">
        <h3 class="ui header">ANALYZE</h3>
        <p>Investigate meta-theoretical properties for your calculus systems (such as
          identity expansion, weakening admissibility, and permutability of
          rules). Sequoia is able to infer most of the trivial cases
          automatically.</p>
      </div>
      <div class="nine wide right floated column">
        <img src="/static/javascripts/sample_images/gif3.gif">
      </div>
    </div>
  </div>
</div>
<div class="ui vertical segment">
  <div class="ui middle aligned text container">
    <b>Sequoia is developed by:</b>
    <ul>
      <li><a href="http://www.gisellereis.com">Giselle Reis</a></li>
      <li><a href="https://www.linkedin.com/in/zan-naeem-3a4658171">Zan Naeem</a></li>
      <li><a href="https://www.linkedin.com/in/mohammed-hashim-5175981a2/">Mohammed Hashim</a></li>
    </ul>
    <b>Past team members:</b>
    <ul>
      <li><a href="https://github.com/AboudFayad">Abdulrahman Alfayad</a></li>
    </ul>
  </div>
</div>
<div class="ui teal inverted vertical footer segment">
  <div class="ui container">
    <p> This project is made possible by the generous support of the Qatar
    Foundation through Carnegie Mellon University in Qatar’s Seed Research
    program.<br> The statements made herein are solely the responsibility of the author(s).
    </p> 
  </div>
</div>
