<div id="section" class="ui middle aligned center aligned teal huge header">Welcome to Seqouia!
    <br><br>
    <p class="sub header">Sequoia is a sequent calculus construction tool that allows you to create your own calculi, build proof trees, and test general properties for your calculus systems.</p>
    <p class="sub header">MORE TEXT ABOUT PROJECT HERE</p>
</div>
<br><br>
<div class="ui center aligned container">
    <div class="ui placeholder segment">
        <div class="ui two column grid">
            <div class="middle aligned column">
                <a class="ui big blue button" href="/login">
                    <i class="check icon"></i>Login
                </a>
            </div>
            <div class="middle aligned column">
                <a class="ui big button" href="/register">
                    <i class="signup icon"></i>Sign Up
                </a>
            </div>
        </div>
        <div class="ui vertical divider">Or</div>
    </div>
</div>
