<div id="section" class="ui middle aligned center aligned teal huge header">Registeration</div>

{{!-- Container --}}

<div class="ui container">

    <div class="ui equal width form">
        <div class="fields">
            <div class="field">
                <label>Username</label>
                <input id="username" type="text" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input id="password" type="password">
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Email</label>
                <input id="email" type="email" placeholder="logic@gmail.com">
            </div>
            <div class="field">
                <label>Occupation</label>
                <select id="occupation" class="ui search dropdown">
                    <option value="S">Student</option>
                    <option value="R">Researcher</option>
                    <option value="A">Academic</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>
        <a class="ui large teal button" onclick="addUser()">
            <i class="user plus icon"></i>
            register
        </a>
    </div>
    <br>
    <div id="warning"></div>

</div>