{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="section" class="ui middle aligned center aligned teal huge header">Create an Account</div>
<div class="ui container">
    <div class="ui equal width form">
        <div class="fields">
            <div id="u" class="required field">
                <label>Username</label>
                <input id="username" type="text" placeholder="Username">
            </div>
            <div id="p1" class="required field">
                <label>Password</label>
                <input id="password1" type="password">
            </div>
            <div id="p2" class="required field">
                <label>Confirm Password</label>
                <input id="password2" type="password">
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Email</label>
                <input id="email" type="email" placeholder="logic@gmail.com">
            </div>
            <div class="field">
                <label>Occupation</label>
                <select id="occupation" class="ui search dropdown">
                    <option value="S">Student</option>
                    <option value="R">Researcher</option>
                    <option value="A">Academic</option>
                    <option value="O">Other</option>
                </select>
            </div>
        </div>
        <a class="ui large teal button" onclick="addUser()">
            <i class="user plus icon"></i>Sign up
        </a>
    </div>
    <div id="warning" class="ui negative message" style="visibility: hidden;">
        <div id="warning_header" class="header">TEMP</div>
    </div>
    <div class="ui divider"></div>
    Already have an account? You can login <a href="/sequoia/login">here</a>!
</div>

<div id="page" hidden>{{page}}</div>
