<div class="ui container">

	{{!-- Cards --}}
	<div class="ui grid cards" id="rules">

	</div>
	<br><br>
	{{!-- End of Cards --}}
	<a class="ui large button positive" href="/add-rule">Add Rule</a>

	<br><br><br><br>

	{{!-- Table container --}}
	<table id="sym_table" class= "ui sortable fixed single line celled table"> <thead> <tr><th>Symbols</th> <th>Types</th> </tr></thead> 
		<tbody id="init"><tbody> 
		<tbody id="table_head"> 
			<tr id = "input_row">
				<td id= "input_field" style="text-align:center">
					<div class="ui input focus">
						<input id="sym" type="text" placeholder="Symbol Here">
					</div>
				</td>
				<td id= "select_field" >
					<select class="ui search dropdown" style="fixed" id="select-sym" ><option value="">Type</option><option value="atom">atom</option><option value="atom variable">atom variable</option><option value="formula variable">formula variable</option><option value="connective">connective</option><option value="context variable">context variable</option><option value="primary separator">primary separator</option><option value="context separator">separator</option><option value="empty">empty</option></select>
					<button class="ui right floated button primary" onclick="add_symbol_toTable()">Add Symbol</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="ui modal">
		<div class="header">Rules Affected</div>
			<div class="content">
			<p>Updating or removing existing symbols may affect the parsing of the rules above. This can result in the update or deletion of certain rules.
				Would you like to continue?</p>
			</div>
		<div class="actions">
			<div id="yes_button" class="ui approve button">Yes</div>
			<div id="no_button" class="ui cancel button">No</div>
		</div>
	</div>

</div>