{{!-- Sequoia Copyright (C) 2020 Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="section" class="ui middle aligned center aligned teal huge header">{{username}}'s Calculi</div>
<br>
<div class="ui container">
	<div class="ui four grid cards" id="calculi"></div>
	<h3 class="ui header">Create your own calculus:</h3>
	<div class="row">
		<div class="ui fluid input">
			<input id="title" type="text" placeholder="Title">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="ui fluid input">
			<input id="description" type="text" placeholder="Description">
		</div>
	</div>
	<br>
	<a class="ui large green button" onclick="addCalculus()">Add Custom Calculus</a>
	<div class="ui horizontal divider">OR</div>
	<h3 class="ui header">Try one of the built-in calculi (you can edit them as you like):</h3>
	<br>
	<a class="ui large green button" onclick="addSomeCalculus(0)">LJ System</a>
	<a class="ui large green button" onclick="addSomeCalculus(1)">LK System</a>
	<a class="ui large green button" onclick="addSomeCalculus(2)">S4 System</a>
	<a class="ui large green button" onclick="addSomeCalculus(3)">Lax System</a>
	<br><br><br><br>
</div>
<div id="modal1" class="ui special modal">
	<div class="header">Calculus Deletion</div>
	<div id="change warning" class="content">
		<p>If you delete this calculus all the rules and symbols associated with it
			will also be deleted. Are you sure you want to delete this calculus?</p>
	</div>
	<div class="actions">
		<div id="yes_button" class="ui approve button">Yes</div>
		<div id="no_button" class="ui cancel button">No</div>
	</div>
</div>

<div id="user_id" hidden>{{user_id}}</div>