{{!-- Grid --}}
<div class="ui middle aligned center aligned grid" style="margin-top: 35px">
  {{!-- Container --}}
  <div class="ui container">

    <div id="id" hidden>{{id}}</div>
    
    
    {{!-- Sequent Input --}}
    <div class="row">
      <div class="ui input fluid">
        <input type="text" id="Sequent" placeholder="Sequent">
      </div>
    </div>

    <br>
    
    {{!-- Preview Button --}}
    <button class="ui button primary" onclick="preview()">
      Preview
    </button>
    
    {{!-- Rule container --}}
    <div id="rule"></div>

    {{!-- Table container --}}
    <div id="table"></div>
  </div>
</div>