
<div id="calc_id" hidden>{{calc_id}}</div>


<div class="ui huge right fixed vertical menu" id="side_menu_R" style="margin-top: 61px; overflow-y:auto;">
  <br>
  <div id="rules" class="ui one cards"></div>
  <br>
  <div id="undo"></div>
  <br><br><br><br>
</div>

<div class="ui left fixed float vertical menu" id="side_menu_L" style="margin-top: 61px; overflow-y:auto;">
</div>

{{!-- Grid --}}
<div class="ui container">
  <div class="ui grid" style="margin-top: 26px;">
      {{!-- Sequent Input --}}
      <div class="fifteen wide column" id="seq">
        <div class="ui input fluid">
          <input type="text" id="Sequent" placeholder="Sequent">
        </div>
        <br>
        <div id="preview">
          <button class="ui large teal button" onclick="preview()">
            Preview
          </button>
        </div>
      </div>

      <br>

      <div id="workspace" class="fifteen wide column" style="overflow-x: auto;">
          <div id="info_prems"></div>
          <br><br>
          <div id="init sequent" style="font-size: 120%"></div>
          <br><br>
          <div id="apply"></div>
          <br><br>
          <div id="warning"></div>
          <br><br>
          <div id="table"></div>
      </div>
  </div>

  <br><br><br>

  <div id ="modal1" class="ui special modal">
    <div class="header">Rules Affected</div>
      <div id = "change warning" class="content">
      <p>Updating or removing existing symbols may alter the parsing of the tree sequents. This can result in the errors when applying rules.
        Would you like to continue?</p>
      </div>
    <div class="actions">
      <div id="yes_button" class="ui approve button">Yes</div>
      <div id="no_button" class="ui cancel button">No</div>
    </div>
  </div>

  <div id ="modal2" class="ui special modal">
    <div class="header">Symbol Used</div>
      <div id = "change warning" class="content">
      <p>This symbol already exists in the rule symbols table. Try using a differnt one.</p>
      </div>
    <div class="actions">
      <div id="ok_button" class="ui cancel button">Okay</div>
    </div>
  </div>

  <div id ="modal3" class="ui special modal">
		<div class="header">Cut Formulas</div>
		<div id = "change warning" class="content">
      <p>Please provide the substitutions needed for the cut, from the cut formula variable to the intended cut formula.</p>
      <p id= "cut_rule"></p>
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Variable</label>
            <input id="var" type="text">
          </div>
          <div class="field">
            <label>Formula</label>
            <input id="form" type="text">
          </div>
        </div>
      </div>
      <div id="modal_warning"></div>
    </div>
		<div class="actions">
		<div id="yes_button" class="ui approve button">Confirm</div>
		<div id="no_button" class="ui cancel button">Cancel</div>
		</div>
	</div>

</div>