
<div id="calc_id" hidden>{{calc_id}}</div>


<div class="ui huge right fixed vertical menu" id="side_menu_R" style="margin-top: 61px; overflow-y:scroll;">
  <div id = "rules"></div>
  <div id = "undo"></div>
</div>
<div class="ui left fixed vertical menu" id="side_menu_L" style="margin-top: 61px; overflow-y:hidden;">
</div>
{{!-- Grid --}}
<div class="ui container">
  <div class="ui grid" style="margin-top: 26px; overflow-x: hidden;">
    {{!-- Container --}}
      {{!-- Sequent Input --}}
      <div class="fourteen wide column" id="seq">
        <div class="ui input fluid">
          <input type="text" id="Sequent" placeholder="Sequent">
        </div>
        <br>
        <div id="preview">
          <button class="ui large teal button" onclick="preview()">
            Preview
          </button>
        </div>
      </div>

      <br>

      <div id="workspace" class="fourteen wide column">
          <div id="info_prems"></div>
          <br><br>
          <div id="init sequent" style="font-size: 150%"></div>
          <br><br>
          <div id="apply"></div>
          <br><br>
          <div id="warning"></div>
          <br><br>
          <div id="table"></div>
      </div>
  </div>

  <div id ="modal1" class="ui special modal">
    <div class="header">Rules Affected</div>
      <div id = "change warning" class="content">
      <p>Updating or removing existing symbols may alter the parsing of the rules already defined. This can result in the update or deletion of certain rules.
        Would you like to continue?</p>
      </div>
    <div class="actions">
      <div id="yes_button" class="ui approve button">yes</div>
      <div id="no_button" class="ui cancel button">No</div>
    </div>
  </div>

  <div id ="modal2" class="ui special modal">
    <div class="header">Symbol Used</div>
      <div id = "change warning" class="content">
      <p>This symbol already exists in the rules symbols. Try using a differnt one.</p>
      </div>
    <div class="actions">
      <div id="ok_button" class="ui cancel button">Okay</div>
    </div>
  </div>
  
</div>