{{!-- Grid --}}
<div class="ui middle aligned center aligned grid" style="margin-top: 35px">
  {{!-- Container --}}
  <div class="ui container">

    
    
    {{!-- Sequent Input --}}
    <div class="row" id="seq">
      <div class="ui input fluid">
        <input type="text" id="Sequent" placeholder="Sequent">
      </div>
    </div>

    <br>
    
    {{!-- Preview Button --}}
    <div id="preview">
      <button class="ui button primary" onclick="preview()">
        Preview
      </button>
    </div>
    
    {{!-- Rule container --}}
    <div id="rule"></div>

    {{!-- Table container --}}
    <div id="table"></div>
  </div>
</div>