{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="title" class="ui middle aligned center aligned huge teal header">Calculus Properties</div>
<div class="ui container">
    <a id="prop1" class="ui large green button" onclick="">
        <i class="balance icon"></i>Identity Expansion
    </a>
    <div class="ui divider"></div>
    <a id="prop2" class="ui large green button" onclick="">
        <i class="plus circle icon"></i>Weakening Admissibility
    </a>
    <div class="ui divider"></div>
    <a id="prop3" class="ui large green button" href="">
        <i class="exchange icon"></i>Permutability
    </a>
    <div class="ui divider"></div>
    <a id="prop4" class="ui large green button" onclick="">
        <i class="cut icon"></i>Cut Admissibility
    </a>
    <div class="ui divider"></div>
    <a id="prop5" class="ui large green button" onclick="">
        <i class="arrows alternate vertical icon"></i>Invertibility
    </a>
</div>

<div id="calc_id" hidden>{{calc_id}}</div>
<div id="property" hidden>Main Page</div>
