{{!-- Grid --}}

<div id="calc_id" hidden>{{calc_id}}</div>
<div id="title" class="ui middle aligned center aligned huge teal header">Calculus Properties</div>
<div id="property" hidden>Main Page</div>

<div class="ui container">
    
    <a id="prop1" class="ui large green button" href="">
        <i class="exchange icon"></i> Permutability
    </a>
    
    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a class="ui large green button" onclick="init_coherence()">
        <i class="balance icon"></i>Initial Coherence
    </a>
    
    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a class="ui large green button" onclick="weak_admiss()">
        <i class="plus circle icon"></i>Weak Admissibility
    </a>

    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a class="ui large green button" onclick="cut_admiss()">
        <i class="cut icon"></i>Cut Admissibility
    </a>
    
</div>
