{{!-- Grid --}}

<div id="calc_id" hidden>{{calc_id}}</div>


<div id="title" class="ui middle aligned center aligned huge teal header">Calculus Properties</div>
<div id="property" hidden>Main Page</div>

<div class="ui container">

    <a id="prop1" class="ui large green button" onclick="">
        <i class="balance icon"></i>Identity Expansion
    </a>
    
    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a id="prop2" class="ui large green button" onclick="">
        <i class="plus circle icon"></i>Weakening Admissibility
    </a>

    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a id="prop3" class="ui large green button" href="">
        <i class="exchange icon"></i> Permutability
    </a>

    {{!-- Divider Line --}}
    <div class="ui divider"></div>

    <a id="prop4" class="ui large green button" onclick="">
        <i class="cut icon"></i>Cut Admissibility
    </a>
    
</div>
