{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="calc_id" hidden>{{calc_id}}</div>
<div id="property" hidden>Initial Coherence</div>
<div id="title" class="ui middle aligned center aligned huge teal header">Identity Expansion</div>
<br><br>
<div class="ui container">
	<div id="description" class="sub header">
		<div class="theorem" text = "Identity Expansion">
			If the identity rules are restricted to atomic formulas, then for any
			proposition $P$ there are proofs of $P \vdash P$.
		</div>
	</div>
	<br>
	<div id="info_answer" class="ui info message" style="display: none;">
		<div id="info_header" class="header">TEMP</div>
		<p id="info_text">TEMP</p>
	</div>
	<div class="ui divider"></div>
	<div class="ui one centered cards" id="proofs_connectives"></div>
	<br><br>
</div>
<div id="loading" class="ui inactive inverted dimmer">
	<div class="ui text loader">Loading</div>
</div>