<div id="calc_id" hidden>{{calc_id}}</div>
<div id="title" class="ui middle aligned center aligned huge teal header">Initial Coherence
	<div id="description" class="sub header">
		Select the left and right rules for a connective to check </div>
</div>
<div id="property" hidden>Initial Coherence</div>

<br><br>

<div id="info_answer"></div>

<div class="ui container">
	<div class="ui grid cards" id="rules"></div>

	<br>

	<div id="perm_button" class="ui disabled teal large button" onclick="permRules()">
        Initial Coherence
    </div>

</div>