{{!-- Sequoia Copyright (C) 2020  Zan Naeem
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="calc_id" hidden>{{calc_id}}</div>
<div id="title" class="ui middle aligned center aligned huge teal header">Weakening Admissability
	<div id="description" class="sub header">Check which contexts in your calculus exhibit weakening admissability</div>
</div>
<div id="property" hidden>Weak Admissability</div>
<br><br>
<div class="ui container">
	<div id="weak_button" class="ui teal large button" onclick="checkWeak()">Perform Check</div>
	<div class="ui divider"></div>
	<div class="ui one centered cards" id="left_sides"></div>
	<div class="ui one centered cards" id="right_sides"></div>
</div>
<div id="loading" class="ui inactive inverted dimmer">
	<div class="ui text loader">Loading</div>
</div>