<div id="calc_id" hidden>{{calc_id}}</div>
<div id="title" class="ui middle aligned center aligned huge teal header">Weak Admissability
	<div id="description" class="sub header">
		Check which contexts in your calculus exhibit weak admissability </div>
</div>
<div id="property" hidden>Weak Admissability</div>

<br><br>

<div class="ui container">
	<div id="weak_button" class="ui teal large button" onclick="checkWeak()">
        Perform Check
    </div>

	<br>

	<div class="ui divider"></div>

	<div class="ui one cards" id="left_sides"></div>
	<div class="ui one cards" id="right_sides"></div>

	<br><br><br>

</div>