{{!-- Grid --}}
<div class="ui middle aligned center aligned grid" style="margin-top: 35px">
	{{!-- Container --}}
	<div class="ui container">

		<div id="id" hidden>{{id}}</div>
		{{!-- Rule Input --}}
		<div class="row">
			<div class="ui input">
				<input id="rule_name" type="text" placeholder="Rule">
			</div>
		</div>
		
		<br>
		
		{{!-- Premises Inputs --}}
		<div class="row">
			<div class="ui fluid action input" id="premise">
				<input id="i0" type="text" placeholder="Premise">
				
				{{!-- Adding Premise button --}}
				<button onclick="addPremise()" class="ui circular icon button green">
					<i class="icon add"></i>
				</button>
				<p style="color: white">s</p>
			</div>
		</div>
		
		{{!-- Divider Line --}}
		<div class="ui divider"></div>
		
		{{!-- Conclusion Input --}}
		<div class="row">
			<div class="ui input fluid">
				<input type="text" id="Conclusion" placeholder="Conclusion">
			</div>
		</div>

		<br>
		
		{{!-- Preview Button --}}
		<button class="ui button primary" onclick="preview('Update')">
			Preview
		</button>
		<br><br><br>
		{{!-- Rule container --}}
		<div id="rule" style="font-size: 150%"></div>
		<br><br>
		<div id="add"></div>
		<br><br>
		<div id="warning"></div>
		<br><br>
		{{!-- Table container --}}
		<div id="table"></div>

		<div id ="modal1" class="ui special modal">
			<div class="header">Rules Affected</div>
			<div id = "change warning" class="content">
			<p>Updating or removing existing symbols may alter the parsing of the rules already defined. This can result in the update or deletion of certain rules.
				Would you like to continue?</p>
			</div>
			<div class="actions">
			<div id="yes_button" class="ui approve button">yes</div>
			<div id="no_button" class="ui cancel button">No</div>
			</div>
		</div>

		<div id ="modal2" class="ui special modal">
			<div class="header">Symbol Used</div>
			<div id = "change warning" class="content">
			<p>This symbol already exists in the sequent symbols. Try using a differnt one.</p>
			</div>
			<div class="actions">
			<div id="ok_button" class="ui cancel button">Okay</div>
			</div>
		</div>

	</div>
</div>