{{!-- Grid --}}

<div id="calc_id" hidden>{{calc_id}}</div>
<div id="rule_id" hidden>{{rule_id}}</div>
<div id="page" hidden>{{page}}</div>

{{!-- Container --}}
<div class="ui container">
	{{!-- Rule Input --}}
	<div class="row">
		<div class="ui input">
			<input id="rule_name" type="text" placeholder="Rule Name">
		</div>
		<select class="ui search dropdown" id="side" >
			<option value="">Side</option>
			<option value="Left">Left</option>
			<option value="Right">Right</option>
			<option value="Cut">Cut</option>
			<option value="None">None</option>
		</select>
		<div class="ui input">
			<input id="connective" type="text" placeholder="Main Connective">
		</div>
	</div>
	
	<br>
	
	{{!-- Premises Inputs --}}
	<div class="row">
		<div class="ui fluid action input" id="premise">
			<input id="i0" type="text" placeholder="Premise">
			
			{{!-- Adding Premise button --}}
			<button onclick="addPremise()" class="ui circular icon button green">
				<i class="icon add"></i>
			</button>
			<p style="color: white">s</p>
		</div>
	</div>
	
	{{!-- Divider Line --}}
	<div class="ui divider"></div>
	
	{{!-- Conclusion Input --}}
	<div class="row">
		<div class="ui input fluid">
			<input type="text" id="Conclusion" placeholder="Conclusion">
		</div>
	</div>

	<br>
	
	{{!-- Preview Button --}}
	<button id="prev button" class="ui large green button" onclick="preview('Add')">
		Preview
	</button>
	<br><br><br>
	{{!-- Rule container --}}
	<div id="rule" style="font-size: 150%"></div>
	<br><br>
	<div id="add"></div>
	<br><br>
	<div id="warning"></div>
	<br><br>
	{{!-- Table container --}}
	<div id="table"></div>

	<div id ="modal1" class="ui special modal">
		<div class="header">Rules Affected</div>
		<div id = "change warning" class="content">
		<p>Updating or removing existing symbols may alter the parsing of the rules already defined. This can result in the update or deletion of certain rules.
			Would you like to continue?</p>
		</div>
		<div class="actions">
		<div id="yes_button" class="ui approve button">Yes</div>
		<div id="no_button" class="ui cancel button">No</div>
		</div>
	</div>

	<div id ="modal2" class="ui special modal">
		<div class="header">Symbol Used</div>
		<div id = "change warning" class="content">
		<p>This symbol already exists in the sequent symbols table. Try using a differnt one.</p>
		</div>
		<div class="actions">
		<div id="ok_button" class="ui cancel button">Okay</div>
		</div>
	</div>

</div>
