{{!-- Sequoia Copyright (C) 2020  Zan Naeem, Abdulrahman Alfayad
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.
This is free software, and you are welcome to redistribute it
under certain conditions; see LICENSE for details. --}}


<div id="calc_id" hidden>{{calc_id}}</div>
<div id="rule_id" hidden>{{rule_id}}</div>
<div id="page" hidden>{{page}}</div>
<br>
<div class="ui container">
	<div class="ui basic message">
		<div class="header">Specify the rule</div>
		<div class="content">
			<p>All symbols that appear in the sequents of the rule
				must be defined in the rule symbols table below.</p>
		</div>
	</div>
	<div class="row">
		<div class="ui input">
			<input id="rule_name" type="text" placeholder="Rule Name">
		</div>
		<select class="ui search dropdown" id="kind" >
			<option value="">Type</option>
			<option value="Logical">Logical</option>
			<option value="Axiom">Axiom</option>
			<option value="Structural">Structural</option>
			<option value="Cut">Cut</option>
		</select>
		<select class="ui search dropdown" id="side" >
			<option value="">Side</option>
			<option value="Left">Left</option>
			<option value="Right">Right</option>
			<option value="None">None</option>
		</select>
		<div class="ui input">
			<input id="connective" type="text" placeholder="Main Connective">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="ui fluid action input" id="premise">
			<input id="i0" type="text" placeholder="Premise">
			<button onclick="addPremise()" class="ui circular icon button green">
				<i class="icon add"></i>
			</button>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="row">
		<div class="ui input fluid">
			<input type="text" id="conclusion" placeholder="Conclusion">
		</div>
	</div>
	<br>
	<button id="prev button" class="ui large green button" onclick="preview('Add')">Preview</button>
	<br><br>
	<div id="rule" style="font-size: 150%"></div>
	<br><br>
	<a id="submit" class="ui fluid large circular icon button green" style="visibility: hidden;">TEMP</a>
	<div id="warning" class="ui negative message" style="visibility: hidden;">
		<div id="warning_header" class="header">TEMP</div>
		<p id="warning_text">TEMP</p>
	</div>
	<table id="sym_table" class= "ui sortable fixed single line celled table">
		<thead><tr><th>Rule Symbols</th><th>Types</th></tr></thead> 
		<tbody id="init"><tbody> 
		<tbody id="table_head"> 
			<tr id ="input_row">
				<td id="input_field" style="text-align:center">
					<div class="ui input focus">
						<input id="sym" type="text" placeholder="Symbol Here">
					</div>
				</td>
				<td id="select_field">
					<select class="ui search dropdown" id="typ">
						<option value="">Type</option>
						<option value="atom variable">atom variable</option>
						<option value="formula variable">formula variable</option>
						<option value="context variable">context variable</option>
						<option value="connective">connective</option>
						<option value="sequent sign">sequent sign</option>
						<option value="context separator">context separator</option>
					</select>
					<button class="ui large green right floated button" onclick="add_symbol_toTable('rule')">Add Symbol</button>
				</td>
			</tr>
			<tr>
				<td id="atom_variable_row"></td>
				<td>atom variable</td>
			</tr>
			<tr>
				<td id="formula_variable_row"></td>
				<td>formula variable</td>
			</tr>
			<tr>
				<td id="context_variable_row"></td>
				<td>context variable</td>
			</tr>
			<tr>
				<td id="connective_row"></td>
				<td>connective</td>
			</tr>
			<tr>
				<td id="sequent_sign_row"></td>
				<td>sequent sign</td>
			</tr>
			<tr>
				<td id="context_separator_row"></td>
				<td>context separator</td>
			</tr>
		</tbody>
	</table>
	<br><br><br>
</div>
<div id ="modal1" class="ui special modal">
	<div class="header">Rules Affected</div>
	<div id = "change warning" class="content">
		<p>Updating or removing existing symbols may alter the parsing of the rules already defined. This can result in the update or deletion of certain rules.
			Would you like to continue?</p>
	</div>
	<div class="actions">
		<div id="yes_button" class="ui approve button">Yes</div>
		<div id="no_button" class="ui cancel button">No</div>
	</div>
</div>
<div id ="modal2" class="ui special modal">
	<div class="header">Symbol Used</div>
	<div id = "change warning" class="content">
		<p>This symbol already exists in the sequent symbols table. Try using a differnt one.</p>
	</div>
	<div class="actions">
		<div id="ok_button" class="ui cancel button">Okay</div>
	</div>
</div>
<div id ="modal3" class="ui special modal">
	<div class="header">Cut Formula Variable</div>
	<div id = "change warning" class="content">
		<p>Please indicate the cut formula variable.</p>
		<p id= "cut_rule"></p>
		<div class="ui form">
			<div class="two fields">
				<div class="field">
					<label>Variable</label>
					<input id="var" type="text">
				</div>
			</div>
		</div>
	</div>
	<div class="actions">
		<div id="yes_button" class="ui approve button">Confirm</div>
		<div id="no_button" class="ui cancel button">Cancel</div>
	</div>
</div>
