{{!-- Grid --}}
<div class="ui middle aligned center aligned grid" style="margin-top: 35px">
	{{!-- Container --}}
	<div class="ui container">
		{{!-- Rule Input --}}
		<div class="row">
			{{> rule/input div_id="" id="rule_connective" holder="Rule"}}
		</div>
		
		<br>
		
		{{!-- Premises Inputs --}}
		<div class="row">
			{{> rule/input div_id="premise" id="i0" holder="Premise"}}

			{{!-- adding premise button --}}
			<button onclick="addPremise()" class="circular ui icon button green">
				<i class="icon add"></i>
			</button>
		</div>
		
		{{!-- Divider Line --}}
		<div class="ui divider"></div>
		
		{{!-- Conclusion Input --}}
		<div class="row">
			<div class="ui input fluid">
				<input type="text" id="Conclusion" placeholder="Conclusion">
			</div>
		</div>

		<br>
		
		{{!-- Preview Button --}}
		<button class="ui button primary" onclick="preview()">
			Preview
		</button>
		
		{{!-- Rule container --}}
		<div id="rule"></div>

		{{!-- Table container --}}
		<div id="table"></div>
	</div>
</div>